<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel='stylesheet' href='/stylesheets/registration.css' />
    <title>Registration</title>
</head>
<body>

<form id="registration_form" name="registration_form">
    <h2>Register Account</h2>
    <label>Email
        <input type="text" name="email" placeholder="Email Address" value="testtest.com">
        <br>
        <span id="error_email" style="color: red"></span>
    </label>

    <label>Password
        <input type="password" name="password" placeholder="Password" value="123456789">
        <br>
        <span id="error_password" style="color: red"></span>
    </label>

    <label>Username
        <input type="text" name="username" placeholder="Username" value="valod">
        <br>
        <span id="error_username" style="color: red"></span>
    </label>

    <label>City
        <input type="text" name="city" placeholder="City" value="San Andreas">
        <br>
        <span id="error_city" style="color: red"></span>
    </label>

    <label>State
        <input type="text" name="state" placeholder="State" value="CA">
        <br>
        <span id="error_state" style="color: red"></span>
    </label>

    <label>Country
        <input type="text" name="country" placeholder="Country" value="USA">
        <br>
        <span id="error_country" style="color: red"></span>
    </label>

    <input type="submit" value="REGISTER">
</form>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/registration.js"></script>
</body>
</html>
